<aside class="showcase cf">
  <div class="image">
    <% if article.data.image %>
      <img src="/images/<%= article.data.image %>">
    <% end %>
  </div>

  <div class="summary">
    <p class="next">
      <% if article.data[:external] == true %>
        <span class="external-article">external</span>
      <% end %>

      <time><%= article.date.strftime("%B %e, %Y") %></time>
    </p>

    <h1><%= article.title %></h1>

    <%= article.summary %>

    <% if article.data[:external] == true %>
      <%= link_to "Continue reading on #{article.data[:source]} &#8594;", article.data[:link] %>
    <% else %>
      <%= link_to "Continue reading &#8594;", article %>
    <% end%>

  </div>
</aside>
