<div class="navigation">
  <ul>
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Books", "/books.html" %></li>
    <li><%= link_to "Photos", "/photos.html" %></li>
    <li><%= link_to "About Me", "/about-me.html" %></li>
  </ul>

  <ul>
    <li><%= link_to "Twitter", "/" %></li>
    &#183;
    <li><%= link_to "Github", "/books.html" %></li>
    &#183;
    <li><%= link_to "LinkedIn", "/photos.html" %></li>
  </ul>
</div>
