<% wrap_layout :layout do %>
  <div class='top-navigation'>
    <span class="box">@</span><span>Igor Šarčević</span> 
  </div>

  <article>
    <% if current_article.data.image %>
      <img class="top-image" src="/images/<%= current_article.data.image %>">
    <% end %>

    <div class="header">
      <div class="subtitle">
        <span>Igor Šarčević</span>
        &mdash;
        <time><%= current_article.date.strftime("%B %e, %Y") %></time>
      </div>

      <h1><%= current_article.title %></h1>
    </div>

    <%= yield %>
  </article>

  <hr>

  <aside>
    <p class="next">Read this next</p>

    <% random_article = page_articles.reject { |a| a == current_article }.sample %>
    
    <h1><%= random_article.title %></h1>
    <%= random_article.summary %>
    <%= link_to "Continue reading &#10230;", random_article %>

  </aside>
<% end %>
