<% wrap_layout :layout do %>
  <article class="article">
    <div class="header">

      <div style="display: flex; items-align: center; font-size: 18px; color: #444; padding-top: 10px; padding-bottom: 10px;">
        <%= current_article.date.strftime('%B %e, %Y') %> <span style="padding-left: 6px; padding-right: 6px;">&middot;</span> Igor Šarčević
      </div>

      <h1 style="line-height: 70px"><%= current_article.title %></h1>
    </div>

    <div class="content">
      <%= yield %>
    </div>

    <%# <%= partial "partials/share", :locals => { :current_article => current_article } %1> %>
    <%# <%= partial "partials/follow_on_twitter" %1> %>

    <%# <%= partial "partials/comments", :locals => { :url => current_article.url, :id => current_article.data[:id] } %1> %>
  </article>
<% end %>
