<% wrap_layout :layout do %>
  <%= partial "partials/navigation", :locals => {:section => :articles} %>

  <article>
    <% if current_article.data.image %>
      <img class="top-image" src="/images/<%= current_article.data.image %>">
    <% end %>

    <div class="header">
      <div class="subtitle">
        <span>Igor Šarčević</span>
        &mdash;
        <time><%= current_article.date.strftime("%B %e, %Y") %></time>
      </div>

      <h1><%= current_article.title %></h1>
    </div>

    <%= yield %>
  </article>

  <%= partial "partials/comments", :locals => { :url => current_article.url, :id => current_article.data[:id] } %>

  <hr>

  <%= partial "partials/article_showcase", :locals => { :article => current_article.previous_article || page_articles.first, :first_article => false } %>

  <hr>
<% end %>
