<% wrap_layout :layout do %>
  <article class="article">
    <div class="header">
      <h1><%= current_article.title %></h1>

      <div style="display: flex; items-align: center; font-size: 18px; color: #444; border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding-top: 10px; padding-bottom: 10px;">
        <img src="/images/igor.png" alt="Igor Šarčević" style="height: 30px; width: 30px; border-radius: 50%; margin-right: 8px;">
        Igor wrote this in <%= current_article.date.strftime('%B %Y') %>
      </div>
    </div>

    <div class="content">
      <%= yield %>
    </div>

    <%# <%= partial "partials/share", :locals => { :current_article => current_article } %1> %>
    <%# <%= partial "partials/follow_on_twitter" %1> %>

    <%# <%= partial "partials/comments", :locals => { :url => current_article.url, :id => current_article.data[:id] } %1> %>
  </article>
<% end %>
