<% wrap_layout :layout do %>
  <article class="article">
    <div class="header">

      <% if current_article.data.subtitle %>
        <small style="text-transform: uppercase; letter-spacing: 1.5px;"><%= current_article.data.subtitle %></small>
      <% end %>

      <h1><%= current_article.title %></h1>

      <div class="subtitle">
        Published on <time><%= current_article.date.strftime("%B %e, %Y") %></time>
      </div>
    </div>

    <%= yield %>

    <%# <%= partial "partials/share", :locals => { :current_article => current_article } %1> %>
    <%# <%= partial "partials/follow_on_twitter" %1> %>

    <%# <%= partial "partials/comments", :locals => { :url => current_article.url, :id => current_article.data[:id] } %1> %>
  </article>
<% end %>
