---
pageable: true
per_page: 5
blog: blog
---

<div class="top-baner"></div>

<%= partial "partials/navigation", :locals => {:section => :articles} %>

<div class="container lander">
  <% page_articles.each_with_index do |article, i| %>
    <%= partial "partials/article_showcase", :locals => { :article => article } %>
  <% end %>

  <% if paginate %>
    <ul class="pagination">
      <% if prev_page %>
        <li>
          <%= link_to "<", prev_page %>
        </li>
      <% end %>

      <% num_pages.times do |index| %>
        <% page_link = index == 0 ? "/" : "/page/#{index + 1}" %>
        <% page_class = page_number == index + 1 ? "active" : "" %>

        <li class="<%= page_class %>">
          <%= link_to "#{index + 1}", page_link %>
        </li>
      <% end %>

      <% if next_page %>
        <li>
          <%= link_to ">", next_page %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
