<!doctype html>
<html itemscope itemtype="http://schema.org/Article">
  <%= partial "partials/head" %>

  <body class="sans-serif">
    <div class="f4 mh3 mh5-ns pv3-ns ph3">
      <%= partial "partials/header" %>

      <%= yield %>

      <%= partial "partials/footer" %>
    </div>

    <%= partial "partials/analytics" %>
  </body>
</html>
