<% wrap_layout :layout do %>
  <%= partial "partials/navigation", :locals => {:section => :articles} %>

  <article class="tip">
    <img class="top-image" src="/images/tip1.png">

    <div class="header">
      <div class="subtitle">
        <span>Igor Šarčević</span>
        &mdash;
        <time><%= current_article.date.strftime("%B %e, %Y") %></time>
      </div>

      <h1 class="tip-title"><%= current_article.title %></h1>
    </div>

    <%= yield %>
  </article>

  <hr>

  <%= partial "partials/article_showcase", :locals => { :article => current_article.previous_article || page_articles.first, :first_article => false } %> 

  <hr>


<% end %>
